* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  height: 100%;
  width: 100%;
}

body {
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  padding: 20px;
  margin: 0;
  height: 100%;
  width: 100%;
}

h1 {
  margin: 0;
}

main {
  display: flex;
  flex-direction: column;
  flex: 1;
  
  nav.controls {
    font-size: 32px;
    
    a {
      cursor: pointer;
    }
  }
  
  track {
    display: flex;
    flex: 1;
    
    .controls {
      width: 75px;
      background: gray;
      margin: 2px 0;
      display: flex;
      flex-direction: column;
      
      .sample-choice {
        flex: 1;
        background: green;
        
        &:first-child {
          background: red;
        }
      }
    }
    
    .cell {
      flex: 1;
      margin: 2px;
      background: black;
      background-image: linear-gradient(to top, rgba(128, 128, 128, .4), transparent);
      transition: background .1s linear;
      
      &.active {
        background: orange;
      }
      
      &.quarter {
        background-image: linear-gradient(to bottom, rgba(128, 128, 128, .4), transparent);
      }
      
      &.current {
        background: #333;
        
        &.active {
          background: red;
        }
      }
      
    }
  }
}





