<!doctype html>
<html>
  <head>
    <title><%= json.project.title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" type="text/css" href="style.css">
  </head>
  <body>
    <main class="sampler" ng-controller="sampler">
      <nav class="controls">
        <a ng-click="playPause()">{{clock.playing ? "&#9646;&#9646;" : "&#9654;"}}</a>
        <a ng-click="reset()">&#9724;</a>
      </nav>
      <track ng-repeat="track in tracks" data="track" clock="clock"></track>
    </main>

    <script src="app.js"></script>
  </body>
</html>
